In [1]:
# import statments
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt

In [7]:
# Setting up datasets
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

data = pd.read_csv("housing.csv",delim_whitespace=True,names=column_names)

In [9]:
data.shape

(506, 14)

In [10]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [27]:
data.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [63]:
for i in data:
    if type(i) != 0:
        data[i] = data[i].astype(int)

In [65]:
data.dtypes

CRIM       int32
ZN         int32
INDUS      int32
CHAS       int32
NOX        int32
RM         int32
AGE        int32
DIS        int32
RAD        int32
TAX        int32
PTRATIO    int32
B          int32
LSTAT      int32
MEDV       int32
dtype: object

In [64]:
data.info

<bound method DataFrame.info of      CRIM  ZN  INDUS  CHAS  NOX  RM  AGE  DIS  RAD  TAX  PTRATIO    B  LSTAT  \
0       0  18      2     0    0   6   65    4    1  296       15  396      4
1       0   0      7     0    0   6   78    4    2  242       17  396      9
2       0   0      7     0    0   7   61    4    2  242       17  392      4
3       0   0      2     0    0   6   45    6    3  222       18  394      2
4       0   0      2     0    0   7   54    6    3  222       18  396      5
..    ...  ..    ...   ...  ...  ..  ...  ...  ...  ...      ...  ...    ...
501     0   0     11     0    0   6   69    2    1  273       21  391      9
502     0   0     11     0    0   6   76    2    1  273       21  396      9
503     0   0     11     0    0   6   91    2    1  273       21  396      5
504     0   0     11     0    0   6   89    2    1  273       21  393      6
505     0   0     11     0    0   6   80    2    1  273       21  396      7

     MEDV
0      24
1      21
2      34
3      33
4      36
..    ...
501    22
502    20
503    23
504    22
505    11

[506 rows x 14 columns]>

In [66]:
data.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [67]:
x = data.drop("MEDV",axis=1)
y = data["MEDV"]

In [68]:
print(x.shape,y.shape)

(506, 13) (506,)

In [78]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [102]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor().fit(x_train,y_train)

In [103]:
model.score(x_test,y_test)

0.8288867244100229